<div class="container__big-card">
  <div class="big-card__photo">
    <img src="assets/images/placeholder.png" height="300px" alt="{{ article.title }}" />
  </div>

  <div class="big-card__info">
    <app-article-info-list
      [category]="article.category"
      [publishedAt]="article.publishedAt | date: 'dd/MM/yyyy'"
      [author]="article.author">
    </app-article-info-list>
  </div>

  <app-news-snippet
    [id]="article.id"
    [title]="article.title"
    [description]="article.description">
  </app-news-snippet>
</div>
