<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="assets/images/placeholder.png"
        alt="{{ article.title }}"
        srcset=""
      />
    </div>

    <div class="small-card__content">
      <app-article-info-list
        [category]="article.category"
        [publishedAt]="article.publishedAt | date : 'dd/MM/yyyy'"
        [author]="article.author"
      >
      </app-article-info-list>

      <app-news-snippet
        [id]="article.id"
        [title]="article.title"
        [description]="article.description">
      </app-news-snippet>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
