<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    @if (articles.length > 0 && article_main_index.length > 0) {
    <app-big-card [article]="articles[article_main_index[0]]"></app-big-card>
    } @else { Erro }
  </div>
  <div class="articles__others">
    @for (index of articles_other_index; track $index) {
    <app-small-card
      [article]="articles[index]"
      [routerLink]="['content', articles[index].id]"
    >
    </app-small-card>
    }
  </div>
</div>
